@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body    {
    background-color: rgb(26, 20, 20);
    font-family: "Inconsolata", monospace;
}

.main-content   {
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
    margin-top: -7px;
    height: 100vh;
    width: 100vh;
}

.intro  {
    margin-left: 5vh;
    margin-right: 3vh;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.intro p   {
    color: white;
    line-height: 40px;
    font-size: 20pt;
}

.math   {
    margin-left: 40px;
    margin-right: 30px;
    text-align: center;
}

.math p    {
    color: white;
    font-weight: bolder;
    font-size: 70px;
    letter-spacing: 10px;
}

.answer {
    background-color: rgb(73, 72, 72);
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 95px;
    color: white;
    font-weight: bolder;
    font-size: 50px;
    letter-spacing: 10px;
    text-align: center;
}

.verify {
    font-family: 'Montserrat', cursive;
    color: red;
    font-size: 80px;
    text-align: center;
    letter-spacing: 2px;
}